.footer {
  @import 'mixins';

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  height: 12.5vh;
  padding: 5px;
  background-color: var(--primary-bgcolor);

  @include mq-phone-and-ipad() {
    height: var(--footer-horiz-height);
  }

  &__copyright {
    flex-basis: 100%;

    @include center-with-flex();

    font-size: 11px;
    color: var(--primary-text-color);

    @include mq-ipad-and-desktop() {
      font-size: 14px;
    }
  }

  &__credits {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @include mq-phone-and-ipad() {
      flex-direction: row;
      align-items: center;
    }
  }

  &__text {
    font-size: 10px;
    font-weight: 700;
    color: var(--secondary-text-color);

    @include mq-ipad-and-desktop() {
      font-size: 12px;
    }
  }

  &__link {
    font-size: 10px;
    color: var(--primary-text-color);
    text-decoration: none;
    letter-spacing: 1px;

    @include mq-phone-and-ipad() {
      padding-left: 5px;
    }

    @include mq-ipad-and-desktop() {
      font-size: 12px;
    }
  }
}
