@import 'mixins';

.location {
  @include mq-phone-and-ipad() {
    grid-column: 2;
    grid-row: 1;
    place-self: center start;
  }

  &__city {
    margin-bottom: 10px;
    font-size: 18px;
    letter-spacing: 1px;

    @include mq-ipad-and-desktop() {
      margin-bottom: 5px;
      font-size: 22px;
    }
  }
}
