@import 'mixins';

.temperature {
  $units-fonts-map: (
    'celsius': '\203a',
    'fahrenheit': '\2039'
  );

  font-size: 70px;
  font-weight: 400;

  @include mq-phone-and-ipad() {
    grid-row: 1;
    grid-column: 1;
    place-self: center start;

    font-size: 60px;
  }

  &::after {
    font-family: 'Artil Icons';
    font-size: 125px;
    line-height: 0;

    @include mq-phone-and-ipad() {
      font-size: 100px;
    }
  }

  @each $unitType, $keyCode in $units-fonts-map {
    &--is-#{$unitType} {
      &::after {
        content: $keyCode;
      }
    }
  }
}
