* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Artil Icons';
  src: url('/icons/artill_clean_icons.otf');
}

html {
  font-family: 'Open Sans', sans-serif;
}

:root {
  --primary-text-color: #ffffff;
  --secondary-text-color: #74e011;
  --dimmed-text-color: #262626;
  --error-text-color: #e0113e;

  --primary-bgcolor-alpha: rgba(0, 0, 0, 0.5);
  --primary-bgcolor: #0c0c0c;

  --footer-horiz-height: 70px;
}
